<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>hrms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>com.hrms.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ShowEmployee</servlet-name>
    <servlet-class>com.hrms.servlet.ShowEmployee</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployee</servlet-name>
    <url-pattern>/ShowEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hrms.servlet.LoginServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EntryServlet</servlet-name>
    <servlet-class>com.hrms.servlet.EntryServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntryServlet</servlet-name>
    <url-pattern>/EntryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEntry</servlet-name>
    <servlet-class>com.hrms.servlet.ShowEntry</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEntry</servlet-name>
    <url-pattern>/ShowEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.hrms.servlet.JobServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/JobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddJobServlet</servlet-name>
    <servlet-class>com.hrms.servlet.AddJobServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobServlet</servlet-name>
    <url-pattern>/AddJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RmJobServlet</servlet-name>
    <servlet-class>com.hrms.servlet.RmJobServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RmJobServlet</servlet-name>
    <url-pattern>/RmJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpJobServlet</servlet-name>
    <servlet-class>com.hrms.servlet.UpJobServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpJobServlet</servlet-name>
    <url-pattern>/UpJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.hrms.servlet.AddEmployee</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpEmployee</servlet-name>
    <servlet-class>com.hrms.servlet.UpEmployee</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpEmployee</servlet-name>
    <url-pattern>/UpEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RmEmployee</servlet-name>
    <servlet-class>com.hrms.servlet.RmEmployee</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RmEmployee</servlet-name>
    <url-pattern>/RmEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPtrans</servlet-name>
    <servlet-class>com.hrms.servlet.ShowPtrans</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPtrans</servlet-name>
    <url-pattern>/ShowPtrans</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>AddPtrans</servlet-name>
    <servlet-class>com.hrms.servlet.AddPtrans</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPtrans</servlet-name>
    <url-pattern>/AddPtrans</url-pattern>
  </servlet-mapping>
</web-app>